/**------- INICIO CONFIGURACIÓN GENERAL PARA EMPEZAR ------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  /*Para quitar las letras subrayadas*/
}

/*------------- Se usa para definir los colores ------*/
:root {
  --white_color: #edf6f9;
  --white_color2: #ffffff;
  --azul_color: #0371bf;
  --rosa_color1: #c55189;
  --rosa_color2: #ff86ba;
  --rosa_color3: #ff9497;
  --sombra: linear-gradient(90deg, #e2b3c5 80%, #ffffff 50%);
  --sombra2: linear-gradient(to top, #ff9497 0%, #ff86ba 99%, #c55189 100%);
}
/**------- FIN CONFIGURACIÓN GENERAL PARA EMPEZAR ------*/

/* home */
#root {
  background-image: var(--sombra2);
  padding-bottom: 10%;
}
.homeDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.divButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6%;
  height: auto;
  width: 40%;
}

.buttonLogin {
  margin: 5%;
  width: 150px;
  height: 40px;
  font-size: 19px;
  font-family: 'Queenie-Sans', cursive;
  background-color: var(--azul_color);
  color: var(--white_color2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonRegister {
  margin: 5%;
  width: 150px;
  height: 40px;
  font-size: 19px;
  font-family: 'Queenie-Sans', cursive;
  background-color: var(--azul_color);
  color: var(--white_color2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.divGoogle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  color: var(--azul_color);
}

.fa-google {
  color: var(--azul_color);
  font-size: 30px;
  cursor: pointer;
}
.btnGoogle{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.option {
  color: var(--white_color2);
  font-size: 15px;
  font-family: 'Queenie-Sans', cursive;
  margin-bottom: 2%;
}
.imageLogo {
  width: 280px;
  height: auto;
  bottom: 50px;
  margin-top: 20%;

}

@media (min-width: 900px) {
.homeDiv { 
    display: flex;
    width: 80%;
    margin: auto;
  }
}