/* login */
.homeDivLogin {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 40%;
}
.divInputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}
.formLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%; 
}
.userEmailTilte {
    margin: 5%;
}
.inputMail {
    width: 40%;
}
.passwordTilte {
    margin: 5%;
}
.inputPassword {
    width: 40%;
}
.divSingUpLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10%;
}
.btnSingUp {
    margin: 5%;
    width: 30%;
}
.btnLogin {
    margin: 5%;
    width: 30%;
}