@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/**------- INICIO CONFIGURACIÓN GENERAL PARA EMPEZAR ------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*Para quitar las letras subrayadas*/
}

/*------------- Lo utilizo para definir los colores ------*/
:root {
    --white_color: #edf6f9;
    --white_color2: #ffffff;
    --azul_color: #0371bf;
    --rosa_color1: #c55189;
    --rosa_color2: #ff86ba;
    --rosa_color3: #ff9497;
    --sombra: linear-gradient(90deg, #e2b3c5 80%, #ffffff 50%);
    --sombra2: linear-gradient(to top, #ff9497 0%, #ff86ba 99%, #c55189 100%);
}
/**------- FIN CONFIGURACIÓN GENERAL PARA EMPEZAR ------*/

/* login */
#root {
    background-image: var(--sombra2);
    padding-bottom: 36%;
}

.homeDivLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%; 
}

.formLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.inputMail {
    margin-top: 5%;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 15px;
    font-family: Queenie-Sans;
}

.inputPassword {
    margin: 5%;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 15px;
    font-family: Queenie-Sans;
}

::placeholder {
    color: var(--rosa_color1);
    font-size: 15px;
    font-family: Queenie-Sans;
}

.divSingUpLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3%;
}

.btnLogin {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    width: 150px;
    height: 40px;
    font-family: Queenie-Sans;
    font-size: 18px;
    background-color: var(--azul_color);
    color: var(--white_color2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnSingUp {
    width: 150px;
    height: 40px;
    font-family: Queenie-Sans;
    font-size: 18px;
    background-color: var(--azul_color);
    color: var(--white_color2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.imageLogo1 {
    width: 180px;
    height: auto;
    display:flex;
    margin-top: 20%;
    margin-bottom: 15%;
}

.toastr {
    position: relative;
    right: -30px;
    width: 50%;
    display: flex;
    justify-content: end; 
}

.toastrcontent{
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.705);
    width: auto;
    height: auto;
    color: rgb(77, 0, 0);
    font-family: Queenie-Sans;
    font-size: 15px;
    padding: 3%;
    display: none;
}
