/**------- INICIO CONFIGURACIÓN GENERAL PARA EMPEZAR ------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*------------- Lo utilizo para definir los colores ------*/
:root {
    --white_color: #edf6f9;
    --white_color2: #ffffff;
    --azul_color: #0371bf;
    --rosa_color1: #c55189;
    --rosa_color2: #ff86ba;
    --rosa_color3: #ff9497;
    --sombra: linear-gradient(90deg, #e2b3c5 80%, #ffffff 50%);
    --sombra2: linear-gradient(to top, #ff9497 0%, #ff86ba 99%, #c55189 100%);
}

/**------- FIN CONFIGURACIÓN GENERAL PARA EMPEZAR ------*/

/* registro */
#root {
    background-image: var(--sombra2);
}

.homeDivRegister {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 110vh;
    width: 100%;
}

.formRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}

::placeholder {
    color: var(--rosa_color1);
    font-size: 15px;
    font-family: 'Queenie-Sans', cursive;
}

.inputAddUserName {
    margin-top: 5%;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 15px;
    font-family: 'Queenie-Sans', cursive;
}

.inputAddMail {
    margin-top: 5%;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 15px;
    font-family: 'Queenie-Sans', cursive;
}

.inputAddPassword {
    margin-top: 5%;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 15px;
    font-family: 'Queenie-Sans', cursive;
}

.inputConfirmPassword {
    margin-top: 5%;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    font-size: 15px;
    font-family: 'Queenie-Sans', cursive;
}

.btnRegisterMe {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    width: 150px;
    height: 40px;
    font-family: 'Queenie-Sans', cursive;
    font-size: 16px;
    background-color: var(--azul_color);
    color: var(--white_color2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btnbackHome {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    width: 150px;
    height: 40px;
    font-family: 'Queenie-Sans', cursive;
    font-size: 16px;
    background-color: var(--azul_color);
    color: var(--white_color2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.imageLogo2 {
    width: 180px;
    height: auto;
    display: flex;
    margin-top: 15%;

}

.toastr {
    position: relative;
    right: -30px;
    width: 50%;
    display: flex;
    justify-content: end;
}


@media (min-width: 900px) {
    .homeDivRegister {
        display: flex;
        width: 80%;
        margin: auto;
    }
}

.toastrcontent {
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.705);
    width: auto;
    height: auto;
    color: rgb(77, 0, 0);
    font-family: 'Queenie-Sans', cursive;
    font-size: 15px;
    padding: 3%;
    display: none;
}

.labelUser {
    font-size: 15px;
    font-family: 'Queenie-Sans', cursive;
    margin-top: 5%;
    position: relative;
    right: 23%;
}

.labelEmail {
    font-size: 15px;
    font-family: 'Queenie-Sans', cursive;
    margin-top: 5%;
    position: relative;
    right: 23%;
}

.labelPasword{
    font-size: 15px;
    font-family: 'Queenie-Sans', cursive;
    margin-top: 5%;
    position: relative;
    right: 34%;
}

.labelConfirmPasword {
    font-size: 15px;
    font-family: 'Queenie-Sans', cursive;
    margin-top: 5%;
    position: relative;
    right: 19%;
}