.homeDivWall {    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 0;
    background-image: var(--sombra2);
    z-index: 1;
}

.wallTitle {
    font-family: Queenie-Sans;
    font-size: 50px;
    color: var(--white_color2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCloseSesion {
    margin: 50px;
    margin-bottom: 500px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-family: Queenie-Sans;
    background-color: var(--azul_color);
    color: var(--white_color2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}