/**------- INICIO CONFIGURACIÓN GENERAL PARA EMPEZAR ------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    /*Para quitar las letras subrayadas*/
}

/*------------- definir colores ------*/
:root {
    --white_color: #edf6f9;
    --white_color2: #ffffff;
    --azul_color: #0371bf;
    --rosa_color1: #c55189;
    --rosa_color2: #ff86ba;
    --rosa_color3: #ff9497;
    --sombra: linear-gradient(90deg, #e2b3c5 80%, #ffffff 50%);
    --sombra2: linear-gradient(to top, #ff9497 0%, #ff86ba 99%, #c55189 100%);
}
/**------- FIN CONFIGURACIÓN GENERAL PARA EMPEZAR ------*/

/* mobile wall */
#root {
    background-image: var(--sombra2);
    padding-bottom: 20%;

}.homeDivWall {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%; 
}

.wallTitle {
    font-family: 'Queenie-Sans', cursive;
    font-size: 25px;
    color: var(--white_color2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.divPosts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formPosts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-bottom: 5%;
}

.textAreaPosts {
    margin-top: 3%;
    margin-bottom: 5%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 17px;
    font-family: 'Queenie-Sans', cursive;
}

.btnShare{
    width: 150px;
    height: 40px;
    font-size: 20px;
    font-family: 'Queenie-Sans', cursive;
    background-color: var(--azul_color);
    color: var(--white_color2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 3%;
}

.btnCloseSesion {
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-family: 'Queenie-Sans', cursive;
    background-color: var(--azul_color);
    color: var(--white_color2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5%;
    position: relative;
    left: 30%;
}

.postsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

.createPost {
    border: none;
    margin: 5%;
    width: 270px;
    height: auto;
    font-size: 18px;
    font-family: 'Queenie-Sans', cursive;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    border-radius: 10px;
    background-color: #ffffff;
}

.userAndDateContainer {
    width: 100%;
    height: auto;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--azul_color);
    padding-left: 5%;
    padding-right: 5%;
}

.userNamePost {
    font-size: 18px;
    font-family: 'Queenie-Sans', cursive;
    color: var(--white_color2);
    padding-top: 2%;
}

.date {
    font-size: 14px;
    font-family: 'Queenie-Sans', cursive;
    color: var(--white_color2);
    padding-bottom: 2%;
}

.postText {
    font-size: 18px;
    font-family: 'Queenie-Sans', cursive;
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 8%;
}

.likes {
    font-size: 15px;
    font-family: 'Queenie-Sans', cursive;
    color: #0371bf;
    position: relative;
    left: 70%;
    padding-bottom: 1%;
    visibility: hidden;
}

.divContainerbtns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--azul_color)
}

.btnDelete {
    font-size: 14px;
    font-family: 'Queenie-Sans', cursive;
    background-color: var(--azul_color);
    color: var(--white_color2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    height: 30px;
}

.btnEdit {
    font-size: 14px;
    font-family: 'Queenie-Sans', cursive;
    background-color: var(--azul_color);
    color: var(--white_color2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    height: 30px;
}

.btnLike {
    font-size: 14px;
    font-family: 'Queenie-Sans', cursive;
    background-color: var(--azul_color);
    color: var(--white_color2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    height: 30px;   
    visibility: hidden;
}

@media (min-width: 900px) {
    .homeDivWall { 
        display: flex;
        width: 80%;
        margin: auto;
      }
    }
.toastr {
    position: relative;
    right: -40px;
    width: 50%;
    display: flex;
    justify-content: end;
    margin-top: 5%; 
}

.toastrcontent{
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.705);
    width: auto;
    height: auto;
    color: rgb(77, 0, 0);
    font-family: 'Queenie-Sans', cursive;
    font-size: 14px;
    padding: 3%;
    display: none;
}